.myPosts {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
}
.myPosts .blockPost {
  border: 1px solid #fff;
  margin-bottom: 20px;
  padding: 5px;
}
.myPosts .blockPost .imgUserPost {
  width: 12%;
}
.myPosts .blockPost .imgUserPost img {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}
.myPosts .blockPost .infoUserPost {
  width: 90%;
  min-height: 35px;
}
.myPosts .blockPost .postName {
  margin: 0;
  margin-bottom: -5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  cursor: pointer;
}
.myPosts .blockPost .postText {
  margin: 0;
}
.myPosts .blockPost .dataPost {
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}
