body,
button,
img,
p,
h1,
h2,
ul,
li,
source,
video {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  border: 0;
  color: #fff;
}
body {
  background-color: #222226;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.column {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.between {
  justify-content: space-between;
}
.center {
  -ms-align-items: center;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.contentPage {
  margin-top: 20px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 100%;
  height: 35px;
  font-size: 18px;
  background-color: #222226;
  color: #fff;
  transition: 0.4s;
  border: 3px solid #222226;
}
.btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.noBtn {
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: #fff;
  transition: 0.4s;
  border: 3px solid #404044;
  background-color: #404044;
}
.noBtn:hover {
  background-color: transparent;
  cursor: pointer;
}
.decorLine {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.content {
  width: 80%;
  margin-left: 20%;
  margin-top: 10vh;
}
